html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dashboard-section {
  border-radius: 0.35rem;
  border: 2px solid #9ed7f2;
  padding: 1rem;
}

.dashboard-item {
  border-radius: 0.35rem;
  padding: 1rem;
  background-color: #d9f6ff;
}

.white-space-text-block {
  white-space: pre-wrap;
}