@using Base.WebHelpers
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome!</h1>
    @if (User.Identity is {IsAuthenticated: true })
    {
        <partial name="_SubmitLinkPrompt"/>
    }
    else
    {
        <p>Log in to submit a link to the archive</p>
    }

    @DateTime.UtcNow
    @DateTime.UtcNow.ToSpan(Context)
</div>