@using WebApp.Authorization

<div class="text-center">
    @if (User.Identity is {IsAuthenticated: true })
    {
        @if (User.IsAllowedToSubmitEntity())
        {
            <partial name="_SubmitLinkPrompt"/>
        }
        else
        {
            <div>@App.Resources.WebApp.Views.Home.Index.NoLinkSubmitPermission</div>
        }
    }
    else
    {
        <p>@App.Resources.WebApp.Views.Home.Index.NotLoggedInLinkSubmitMessage</p>
    }
</div>