@using WebApp.Authorization
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome!</h1>
    @if (User.Identity is {IsAuthenticated: true })
    {
        @if (User.IsAllowedToSubmitEntity())
        {
            <partial name="_SubmitLinkPrompt"/>
        }
        else
        {
            <div>Sorry, you do not have permission to submit a link to the archive</div>
        }
    }
    else
    {
        <p>Log in with an authorized account to submit a link to the archive</p>
    }
</div>