@page
@model WebApp.Areas.Identity.Pages.Account.AwaitingApproval

@{
    ViewData["Title"] = "Awaiting approval";
}

<header>
    <h2 class="text-danger">
        This account must be approved by an administrator before it can be used.
        Please try logging in again later.
    </h2>
</header>