@page
@model WebApp.Areas.Identity.Pages.Account.AwaitingApproval

@{
    ViewData["Title"] = @App.Resources.WebApp.Areas.Identity.Pages.Account.AwaitingApproval.PageTitle;
}

<header>
    <h2 class="text-danger">
        @App.Resources.WebApp.Areas.Identity.Pages.Account.AwaitingApproval.ThisAccountMustBeApproved
    </h2>
</header>