@page
@model LockoutModel
@{
    ViewData["Title"] = App.Resources.WebApp.Areas.Identity.Pages.Account.Lockout.PageTitle;
}

<header>
    <h1 class="text-danger">@App.Resources.WebApp.Areas.Identity.Pages.Account.Lockout.PageTitle</h1>
    <p class="text-danger">@App.Resources.WebApp.Areas.Identity.Pages.Account.Lockout.ExplanationMessage</p>
</header>
