@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LogoutModel
@{
    ViewData["Title"] = App.Resources.WebApp.Areas.Identity.Pages.Account.Logout.PageTitle;
}

<header>
    <h1>@App.Resources.WebApp.Areas.Identity.Pages.Account.Logout.PageTitle</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">@App.Resources.WebApp.Areas.Identity.Pages.Account.Logout.ClickHereToLogout</button>
            </form>
        }
        else
        {
            <p>@App.Resources.WebApp.Areas.Identity.Pages.Account.Logout.SuccessMessage</p>
        }
    }
</header>
