@using Microsoft.AspNetCore.Mvc.TagHelpers
@using App.Domain.Enums
@model App.Domain.Playlist

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Playlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Platform" class="control-label"></label>
                <input asp-for="Platform" class="form-control" />
                <span asp-validation-for="Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOnPlatform" class="control-label"></label>
                <input asp-for="IdOnPlatform" class="form-control" />
                <span asp-validation-for="IdOnPlatform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumbnails" class="control-label"></label>
                <input asp-for="Thumbnails" class="form-control" />
                <span asp-validation-for="Thumbnails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishedAt" class="control-label"></label>
                <input asp-for="PublishedAt" class="form-control" />
                <span asp-validation-for="PublishedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrivacyStatus" class="control-label"></label>
                <input asp-for="PrivacyStatus" class="form-control" />
                <span asp-validation-for="PrivacyStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="InternalPrivacyStatus" class="control-label"></label>
                <select asp-for="InternalPrivacyStatus" class="form-control" asp-items="@Html.GetEnumSelectList<EPrivacyStatus>()"></select>
                <span asp-validation-for="InternalPrivacyStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etag" class="control-label"></label>
                <input asp-for="Etag" class="form-control" />
                <span asp-validation-for="Etag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastFetchOfficial" class="control-label"></label>
                <input asp-for="LastFetchOfficial" class="form-control" />
                <span asp-validation-for="LastFetchOfficial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastSuccessfulFetchOfficial" class="control-label"></label>
                <input asp-for="LastSuccessfulFetchOfficial" class="form-control" />
                <span asp-validation-for="LastSuccessfulFetchOfficial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastFetchUnofficial" class="control-label"></label>
                <input asp-for="LastFetchUnofficial" class="form-control" />
                <span asp-validation-for="LastFetchUnofficial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastSuccessfulFetchUnofficial" class="control-label"></label>
                <input asp-for="LastSuccessfulFetchUnofficial" class="form-control" />
                <span asp-validation-for="LastSuccessfulFetchUnofficial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedToArchiveAt" class="control-label"></label>
                <input asp-for="AddedToArchiveAt" class="form-control" />
                <span asp-validation-for="AddedToArchiveAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Monitor" /> @Html.DisplayNameFor(model => model.Monitor)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Download" /> @Html.DisplayNameFor(model => model.Download)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
