@using WebApp.Authorization
@using WebApp.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.ViewModels.CategoryCreateViewModel

@{
    ViewBag.Title = App.Resources.WebApp.Views.Category.Create.CreateNewCategoryTitle;
}

<h2>@App.Resources.WebApp.Views.Category.Create.CreateNewCategoryTitle</h2>

<div>
    <form asp-action="Create">
        @Html.HiddenFor(m => m.ReturnUrl)
        <label asp-for="Category.IsPublic"></label>
        <input asp-for="Category.IsPublic" disabled="@(!User.IsAllowedToCreatePublicCategory())"/>
        <div class="form-group">
            <label asp-for="Category.Name"></label>
            @foreach (var culture in Model.SupportedUiCultures)
            {
                Model.Category.Name.TryGetValue(culture, out var cultureValue);
                @await Html.PartialAsync("_LangStringFormSectionPartial", new LangStringFormSectionPartialViewModel("Category.Name", culture, cultureValue))
            }
            <div>
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="@App.Resources.WebApp.Views.Category.Create.CreateSubmit"/>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}