@using WebApp.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Base.WebHelpers
@model CategoryDetailsViewModel

@{
    ViewBag.Title = App.Resources.WebApp.Views.Category.Details.PageTitle;
}

<h2>@App.Resources.WebApp.Views.Category.Details.PageTitle</h2>

<div>
    <label asp-for="Category.Platform"></label>
    @Html.Translate(Model.Category.Platform)
    <label asp-for="Category.IsPublic"></label>
    <input asp-for="Category.IsPublic" disabled="disabled"/>
    <div class="form-group">
        <label asp-for="Category.Name"></label>
        @foreach (var culture in Model.SupportedUiCultures)
        {
            Model.Category.Name.TryGetValue(culture, out var cultureValue);
            @await Html.PartialAsync("_LangStringFormSectionPartial", new LangStringFormSectionPartialViewModel("Category.Name", culture, cultureValue, true))
        }
    </div>
    @if (Model.UserIsCreator)
    {
        <a asp-action="Edit">@App.Resources.WebApp.Views.Category.Details.Edit</a>
    }
</div>
