@using WebApp.Authorization
@using WebApp.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.ViewModels.CategoryEditViewModel

@{
    ViewBag.Title = "Edit category";
}

<h2>Edit category</h2>

<div>
    <form >
        @Html.HiddenFor(m => m.Id)
        <label asp-for="Category.IsPublic"></label>
        <input asp-for="Category.IsPublic" disabled="@(!User.IsAllowedToCreatePublicCategory())"/>
        <div class="form-group">
            <label asp-for="Category.Name">Name:</label>
            @foreach (var culture in Model.SupportedUiCultures)
            {
                Model.Category.Name.TryGetValue(culture, out var cultureValue);
                @await Html.PartialAsync("_LangStringFormSectionPartial", new LangStringFormSectionPartialViewModel("Category.Name", culture, cultureValue))
            }
            <div>
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </form>
    <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}