@model WebApp.ViewModels.LinkSubmissionViewModel

<h2>Add a YouTube link to the archive</h2>
<form asp-controller="SubmitLink" asp-action="Submit" method="POST">
    <div>
        <label asp-for="Link">Link:</label>
        <input asp-for="Link"/>
    </div>
    <div>
        <label asp-for="SubmitPlaylist">Also submit playlist, if link is a video+playlist link:</label>
        <input type="checkbox" asp-for="SubmitPlaylist"/>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>