@using App.Resources.WebApp.Views.Shared
@{
    ViewData["Title"] = AccessDenied.PageTitle;
}

<header>
    <h1 class="text-danger">@AccessDenied.PageTitle</h1>
    <p class="text-danger">@AccessDenied.YouDoNotHaveAccess</p>
</header>