@model WebApp.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = App.Resources.WebApp.Views.Shared.Error.PageTitle;
}

<h1 class="text-danger">@App.Resources.WebApp.Views.Shared.Error.Heading</h1>
<h2 class="text-danger">@App.Resources.WebApp.Views.Shared.Error.AnErrorOccurred</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@App.Resources.WebApp.Views.Shared.Error.RequestId:</strong> <code>@Model.RequestId</code>
    </p>
}