@using App.Domain.Enums
@model App.Domain.Author

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Platform" class="control-label"></label>
                <input asp-for="Platform" class="form-control" />
                <span asp-validation-for="Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOnPlatform" class="control-label"></label>
                <input asp-for="IdOnPlatform" class="form-control" />
                <span asp-validation-for="IdOnPlatform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriberCount" class="control-label"></label>
                <input asp-for="SubscriberCount" class="form-control" />
                <span asp-validation-for="SubscriberCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImages" class="control-label"></label>
                <input asp-for="ProfileImages" class="form-control" />
                <span asp-validation-for="ProfileImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Banners" class="control-label"></label>
                <input asp-for="Banners" class="form-control" />
                <span asp-validation-for="Banners" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumbnails" class="control-label"></label>
                <input asp-for="Thumbnails" class="form-control" />
                <span asp-validation-for="Thumbnails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PrivacyStatus" class="control-label"></label>
                <input asp-for="PrivacyStatus" class="form-control" />
                <span asp-validation-for="PrivacyStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="InternalPrivacyStatus" class="control-label"></label>
                <select asp-for="InternalPrivacyStatus" class="form-control" asp-items="@Html.GetEnumSelectList<EPrivacyStatus>()"></select>
                <span asp-validation-for="InternalPrivacyStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etag" class="control-label"></label>
                <input asp-for="Etag" class="form-control" />
                <span asp-validation-for="Etag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastFetched" class="control-label"></label>
                <input asp-for="LastFetched" class="form-control" />
                <span asp-validation-for="LastFetched" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastSuccessfulFetch" class="control-label"></label>
                <input asp-for="LastSuccessfulFetch" class="form-control" />
                <span asp-validation-for="LastSuccessfulFetch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedToArchiveAt" class="control-label"></label>
                <input asp-for="AddedToArchiveAt" class="form-control" />
                <span asp-validation-for="AddedToArchiveAt" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Monitor" /> @Html.DisplayNameFor(model => model.Monitor)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Download" /> @Html.DisplayNameFor(model => model.Download)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
