@model string

@{
    ViewBag.Title = App.Resources.WebApp.Views.SubmitLink.InvalidUrl.PageTitle;
}

<h2 class="text-danger">@App.Resources.WebApp.Views.SubmitLink.InvalidUrl.PageTitle</h2>
<h3>@string.Format(App.Resources.WebApp.Views.SubmitLink.InvalidUrl.LinkIsInvalid, Model)</h3>