@model WebApp.ViewModels.UrlSubmissionResultViewModel

<div>
    <div>Submission for @Model.Type on platform @Model.Platform with ID @Model.IdOnPlatform successfully processed.</div>
    TODO: link to queue item page
</div>