@using Base.WebHelpers
@model WebApp.ViewModels.UrlSubmissionResultViewModel

<div>
    @string.Format(App.Resources.WebApp.Views.SubmitLink.Result.SubmissionProcessed,
        Html.Translate(Model.Type), Html.Translate(Model.Platform), Model.IdOnPlatform)
</div>