@model WebApp.ViewModels.VideoViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>@Model.Video.Title</h1>

<p>@Model.Video.Description</p>

<video controls autoplay><source src="/api/v1/File/VideoFile/@Model.Video.Id"/></video>