@model Domain.PlaylistVideoPositionHistory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PlaylistVideoPositionHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlaylistVideoId" class="control-label"></label>
                <select asp-for="PlaylistVideoId" class="form-control" asp-items="ViewBag.PlaylistVideoId"></select>
                <span asp-validation-for="PlaylistVideoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidSince" class="control-label"></label>
                <input asp-for="ValidSince" class="form-control" />
                <span asp-validation-for="ValidSince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidUntil" class="control-label"></label>
                <input asp-for="ValidUntil" class="form-control" />
                <span asp-validation-for="ValidUntil" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
