@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<h1>@App.Resources.WebApp.Areas.Identity.Pages.Account.Manage._Layout.ManageYourAccount</h1>

<div>
    <h2>@App.Resources.WebApp.Areas.Identity.Pages.Account.Manage._Layout.ChangeAccountSettings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
