@using Microsoft.AspNetCore.Mvc.TagHelpers
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">@App.Resources.WebApp.Areas.Identity.Pages.Account.Manage._ManageNav.Password</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.DeletePersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./DeletePersonalData">@App.Resources.WebApp.Areas.Identity.Pages.Account.Manage._ManageNav.DeletePersonalData</a></li>
</ul>
