@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DeletePersonalDataModel
@{
    ViewData["Title"] = App.Resources.WebApp.Areas.Identity.Pages.Account.Manage.DeletePersonalData.PageTitle;
    ViewData["ActivePage"] = ManageNavPages.DeletePersonalData;
}

<h3>@App.Resources.WebApp.Areas.Identity.Pages.Account.Manage.DeletePersonalData.PageTitle</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>@App.Resources.WebApp.Areas.Identity.Pages.Account.Manage.DeletePersonalData.DeleteWarning</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="w-100 btn btn-lg btn-danger" type="submit">@App.Resources.WebApp.Areas.Identity.Pages.Account.Manage.DeletePersonalData.SubmitButton</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
