@model Domain.StatusChangeEvent

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StatusChangeEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PreviousAvailability" class="control-label"></label>
                <input asp-for="PreviousAvailability" class="form-control" />
                <span asp-validation-for="PreviousAvailability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewAvailability" class="control-label"></label>
                <input asp-for="NewAvailability" class="form-control" />
                <span asp-validation-for="NewAvailability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousPrivacyStatus" class="control-label"></label>
                <input asp-for="PreviousPrivacyStatus" class="form-control" />
                <span asp-validation-for="PreviousPrivacyStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPrivacyStatus" class="control-label"></label>
                <input asp-for="NewPrivacyStatus" class="form-control" />
                <span asp-validation-for="NewPrivacyStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OccurredAt" class="control-label"></label>
                <input asp-for="OccurredAt" class="form-control" />
                <span asp-validation-for="OccurredAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class ="form-control" asp-items="ViewBag.AuthorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="VideoId" class="control-label"></label>
                <select asp-for="VideoId" class ="form-control" asp-items="ViewBag.VideoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlaylistId" class="control-label"></label>
                <select asp-for="PlaylistId" class ="form-control" asp-items="ViewBag.PlaylistId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
