@using Microsoft.AspNetCore.Mvc.TagHelpers
@using App.Domain.Enums
@model App.Domain.Comment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Platform" class="control-label"></label>
                <input asp-for="Platform" class="form-control" />
                <span asp-validation-for="Platform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOnPlatform" class="control-label"></label>
                <input asp-for="IdOnPlatform" class="form-control" />
                <span asp-validation-for="IdOnPlatform" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoId" class="control-label"></label>
                <select asp-for="VideoId" class="form-control" asp-items="ViewBag.VideoId"></select>
                <span asp-validation-for="VideoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReplyTargetId" class="control-label"></label>
                <select asp-for="ReplyTargetId" class="form-control" asp-items="ViewBag.ReplyTargetId"></select>
                <span asp-validation-for="ReplyTargetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConversationRootId" class="control-label"></label>
                <select asp-for="ConversationRootId" class="form-control" asp-items="ViewBag.ConversationRootId"></select>
                <span asp-validation-for="ConversationRootId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikeCount" class="control-label"></label>
                <input asp-for="LikeCount" class="form-control" />
                <span asp-validation-for="LikeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DislikeCount" class="control-label"></label>
                <input asp-for="DislikeCount" class="form-control" />
                <span asp-validation-for="DislikeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReplyCount" class="control-label"></label>
                <input asp-for="ReplyCount" class="form-control" />
                <span asp-validation-for="ReplyCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAtVideoTimecode" class="control-label"></label>
                <input asp-for="CreatedAtVideoTimecode" class="form-control" />
                <span asp-validation-for="CreatedAtVideoTimecode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrivacyStatus" class="control-label"></label>
                <input asp-for="PrivacyStatus" class="form-control" />
                <span asp-validation-for="PrivacyStatus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="InternalPrivacyStatus" class="control-label"></label>
                <select asp-for="InternalPrivacyStatus" class="form-control" asp-items="@Html.GetEnumSelectList<EPrivacyStatus>()"></select>
                <span asp-validation-for="InternalPrivacyStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etag" class="control-label"></label>
                <input asp-for="Etag" class="form-control" />
                <span asp-validation-for="Etag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastFetched" class="control-label"></label>
                <input asp-for="LastFetched" class="form-control" />
                <span asp-validation-for="LastFetched" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FetchSuccess" /> @Html.DisplayNameFor(model => model.FetchSuccess)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AddedToArchiveAt" class="control-label"></label>
                <input asp-for="AddedToArchiveAt" class="form-control" />
                <span asp-validation-for="AddedToArchiveAt" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
