@model App.Domain.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IgdbId" class="control-label"></label>
                <input asp-for="IgdbId" class="form-control" />
                <span asp-validation-for="IgdbId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxArtUrl" class="control-label"></label>
                <input asp-for="BoxArtUrl" class="form-control" />
                <span asp-validation-for="BoxArtUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Etag" class="control-label"></label>
                <input asp-for="Etag" class="form-control" />
                <span asp-validation-for="Etag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastFetched" class="control-label"></label>
                <input asp-for="LastFetched" class="form-control" />
                <span asp-validation-for="LastFetched" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastSuccessfulFetch" class="control-label"></label>
                <input asp-for="LastSuccessfulFetch" class="form-control" />
                <span asp-validation-for="LastSuccessfulFetch" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
